body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    background-color: bisque;
}

.container {
    text-align: center;
    border: solid 2px black;
    padding: 10px;
}

.captcha__text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}

canvas {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    border: 1px solid #ccc;
}

input[type="text"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 11px 20px;
    background-color: #007bff;
    color: white;
    border: #007bff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* #result {
    font-weight: bold;
    margin-top: 10px;
} */